<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Posting-app</title>
	<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="h-screen w-full bg-zinc-900 text-white">
	<div class="flex justify-between pt-2 px-1">
		<div>
			<h3 class="text-3xl">Hello, Loggedin User <%= user.username %></h3>
		</div>
		<a class="inline-block px-1 bg-red-600 border border-red-800 rounded-md hover:bg-red-800 mt-2 font-bold" href="/logout">Logout</a>
	</div>
	<h3 class="text-sm text-zinc-400 px-1">Update post</h3>
	<form action="/edit/<%= post._id %>" method="post" class="mt-2 flex flex-col w-1/3 gap-2">
		<textarea name="content" placeholder="What's on your mind?" 
		class="h-32 w-full resize-none border-1 outline-none border-zinc-700 p-2"><%= post.content %></textarea>
		<button type="submit" class="bg-yellow-700 p-1 rounded-md hover:bg-yellow-600 w-full text-black">Update post</button>
	</form>
</body>
</html>